        body {
            font-family: Arial, sans-serif;
            background-color: hsl(0, 0%, 95%);
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .spinner {
            justify-self: center;
            inline-size: 50px;
            block-size: 50px;
            border: 6px solid hsl(0, 0%, 85%);
            border-top: 6px solid hsl(120, 100%, 40%);
            border-radius: 50%;
            margin: 20px;
            animation: spin 1s infinite;
        }
        @keyframes spin {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }

        .weatherForm {
            margin: 20px;
        }

        .cityInput {
            padding: 8px;
            font-size: 1.3rem;
            inline-size: 150px;
            border-radius: 10px;
            box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
            transition: box-shadow 0.3s ease;
            text-align: start;
        }
        .cityInput:focus {
            box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
        }

        button[type = submit] {
            padding: 10px 10px;
            font-size: 1.3rem;
            margin-inline: 5px;
            border: none;
            border-radius: 10px;
            background-color: hsl(120, 100%, 40%);
            box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button[type = submit]:hover {
            background-color: hsl(120, 100%, 45%);
        }

        .Card {
            background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
            padding: 50px;
            min-inline-size: 300px;
            box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            transition: box-shadow 0.3s ease;

            @media(width < 550px) {
                min-inline-size: 250px;
            }
        }
        .Card:hover {
            box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.7);
        }

        .cityDisplay {
            font-size: 3.5rem;
            margin-block: 0;
            color: hsla(0, 0%, 25%);
        }

        .tempDisplay {
            margin-block: 20px 0;
            font-size: 3.5rem;
            color: hsla(0, 0%, 25%);
        }

        .humidityDisplay {
            margin-block: 20px 0;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .descDisplay {
            font-style: italic;
            margin-block: 20px 0;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .weatherEmoji {
            margin-block: 10px 0;
            font-size: 7.5rem;
        }

        .errorDisplay {
            margin-block: 0;
            font-size: 1.5rem;
            color: hsl(0, 80%, 20%);
        }